<div class="ui segment center aligned">
  <h3 class="ui center aligned header">Students in Grades 9—12 who want to study the basics of theatre and perform in the spring musical are invited to join this class.</h3>
</div>
<div class="ui two column grid">
  <div class="column">
    <%= image_tag("programs/core.jpg", class: "ui large image rounded") %>
  </div>
  <div class="column">
    <h3>They study:</h3>
    <div class="ui list big">
      <div class="item"><i class="star outline icon"></i> Acting – Skill Development</div>
      <div class="item"><i class="star outline icon"></i> Acting – Scene Study</div>
      <div class="item"><i class="star outline icon"></i> Acting – Script Analysis</div>
      <div class="item"><i class="star outline icon"></i> Voice</div>
      <div class="item"><i class="star outline icon"></i> Dance</div>
    </div>
    </ui>
  </div>
</div>
<div class="ui segment">
  <h3 class="ui center aligned header">The second semester is production-oriented, focusing on the rehearsals for a fully-produced musical.</h3>
</div>
<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
      <h4 class="ui center aligned header">Mondays<br>5:30pm — 8:30pm<br>Bethlehem Lutheran Church<br>Glenshaw</h4>
      <h4 class="ui center aligned header"><i>In February, Core Students join the Professional Training Program students Saturday afternoons to rehearse for the spring musical.</i></h4>
    </div>
  </div>
  <div class="column">
    <%= image_tag("programs/core-1.jpg", class: "ui large image rounded") %>
  </div>
</div>
