<div class="ui segment">
  <div class="ui segment center aligned">
    <h3>Is your child interested in “trying out” theatre?</h3>
    <h4>Here is the perfect solution! ACT ONE offers K/1  Mini-Sessions for young children looking for their niche. There are two K/1 programs offered during the school year.</h4>
    <h3>10 weeks Sept–Nov / 10 weeks Jan–April</h3>
    <i>You are welcome to register for either the fall program, or the winter program, or both.<br></i>
    <h4>Saturdays<br>12:00pm – 1:45 pm<br>New Community Church<br>Wexford</h4>
  </div>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        <h3>Students will explore theatre through:</h3>
        <div class="ui list big">
          <div class="item"><i class="circle outline icon"></i>Story Telling</div>
          <div class="item"><i class="circle outline icon"></i>Character work</div>
          <div class="item"><i class="circle outline icon"></i>Singing</div>
          <div class="item"><i class="circle outline icon"></i>Creative Movement</div>
          <div class="item"><i class="circle outline icon"></i>Art</div>
          <div class="item"><i class="circle outline icon"></i>Puppetry</div>
          <div class="item"><i class="circle outline icon"></i>Costuming</div>
          <div class="item"><i class="circle outline icon"></i>Improvisation</div>
          <div class="item"><i class="circle outline icon"></i>Script work</div>
        </div>
        <i>Parents are always welcome.</i>
      </div>
    </div>
    <div class="column">
      <%= image_tag("programs/k-1.png", class: "ui medium image") %>
    </div>
  </div>
</div>
