<div class="ui segment">
  <h4>Challenging students in Grades 9 -12 who are seriously pursuing careers in theatre, the Professional Training Program (PTP) offers an intensive, individualized study of technique, text and vocal and physical work.</h4>
</div>
<div class="ui segment">
  <div class="ui two column grid">
    <div class=" five wide column">
      <%= image_tag("programs/ptp1.jpg", class: "ui image medium rounded") %>
    </div>
    <div class="ten wide column middle aligned">
      <h4>Anyone who wants to participate in the PTP program is welcome. Students audition only for class placement so that staff can assess their strengths as well as less -developed skills and set individual goals.</h4>
      <div class="ui divider"></div>
      <h4>Because of our flexible scheduling, our students are also able to rehearse and appear in their own local high school productions. In truth, most of the leading roles in the area high school shows are won by ACT ONE students!</h4>
      <div class="ui divider"></div>
      <h4>Through PTP, we seek to develop a strong ENSEMBLE of professional actors who believe in themselves and in the possibilities of others.</h4>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui three column grid">
    <div class=" two wide column"></div>
    <div class="six wide column">
      <h3>Curriculum includes:</h3>
      <div class="ui list large">
        <div class="item"><i class="asterisk icon"></i> Acting  – Skill Development</div>
        <div class="item"><i class="asterisk icon"></i> Scene Study</div>
        <div class="item"><i class="asterisk icon"></i> Script Analysis</div>
        <div class="item"><i class="asterisk icon"></i> Monologues</div>
        <div class="item"><i class="asterisk icon"></i> Group Voice</div>
        <div class="item"><i class="asterisk icon"></i> Private Voice</div>
        <div class="item"><i class="asterisk icon"></i> Ballet</div>
        <div class="item"><i class="asterisk icon"></i> Jazz</div>
        <div class="item"><i class="asterisk icon"></i> College Audition Preparation – Individual Coaching</div>
      </div>
    </div>
    <div class="six wide column">
      <%= image_tag("programs/ptp2.jpg", class: "ui image medium rounded") %>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui two column grid">
    <div class=" five wide column">
      <%= image_tag("programs/ptp3.jpg", class: "ui image medium rounded") %>
    </div>
    <div class=" eleven wide column">
      <h3>Performance Schedule includes:</h3>
      <div class="ui list big">
        <div class="item"><i class="sun icon"></i> Play—blackbox production</div>
        <div class="item"><i class="sun icon"></i> Musical Review—Annual Gala</div>
        <div class="item"><i class="sun icon"></i> Fully produced Musical</div>
      </div>
      <h4 class="ui header">11th and 12th Grade PTP students are eligible to join the Starving Artist class taught by Karen Cordaro. Focused on “The Business of the Business,”  the Starving Artist program involves 8 weeks of intensive class work, private coaching, NYC auditions and personal mentoring by theatre professionals.</h4>
    </div>
  </div>
</div>
