<div class="ui segment center aligned">
  <h4>The 2nd – 4th Grade Program is divided into two semesters.</h4>
  <h4>The first semester is process-oriented, focusing on skill building.  The students come to class one time a week for a 2 1/2 hour class.</h4>
</div>
<div class="ui two column grid">
  <div class="column">
    <%= image_tag("programs/2.jpg", class: "ui large image rounded") %>
  </div>
  <div class="column">
    <h3>They study:</h3>
    <div class="ui list big">
      <div class="item"><i class="certificate icon"></i> Acting</div>
      <div class="item"><i class="certificate icon"></i> Voice</div>
      <div class="item"><i class="certificate icon"></i> Dance</div>
      <div class="item"><i class="certificate icon"></i> Improvisation</div>
      <div class="item"><i class="certificate icon"></i> Audition Skills</div>
      <div class="item"><i class="certificate icon"></i> Theatre Games</div>
    </div>
  </div>
</div>
<div class="ui segment">
  <h3 class="ui center aligned header">The second semester is production-oriented, focusing on the rehearsals for a fully-produced musical.</h3>
</div>
<div class="ui three column grid">
  <div class="two wide column"></div>
  <div class="seven wide column">
    <h3>Second semester includes:</h3>
    <div class="ui list big">
      <div class="item"><i class="right triangle icon"></i>Auditions</div>
      <div class="item"><i class="right triangle icon"></i>Casting of every student</div>
      <div class="item"><i class="right triangle icon"></i>Rehearsals 2 times per week</div>
      <div class="item"><i class="right triangle icon"></i>Props/Costume making</div>
      <div class="item"><i class="right triangle icon"></i>More frequent rehearsals last 2 weeks</div>
      <div class="item"><i class="right triangle icon"></i>Performances</div>
    </div>
  </div>
  <div class="seven wide column">
    <%= image_tag("programs/2.1.jpg", class: "ui large image rounded") %>
  </div>
</div>
<div class="ui segment">
  <h4 class="ui center aligned header">Class Choices</h4>
  <h5 class="ui center aligned header">First & Second Semester classes meet once a week, select one</h5>
  <table class="ui celled six column table">
  <tbody>
    <tr class="center aligned">
      <td><strong>Monday</strong><br>4:00-6:30pm<br>Elfinwild<br>Wexford</td>
      <td><strong>Tuesday</strong><br>4:00-6:30pm<br>New Community Church<br>Wexford</td>
      <td><strong>Wednesday</strong><br>4:00-6:30pm<br>Perry Hwy Lutheran Church<br>Wexford</td>
      <td><strong>Thursday</strong><br>4:00-6:30pm<br>Bethlehem Lutheran Church<br>Glenshaw</td>
      <td><strong>Saturday AM</strong><br>9:00-11:30am<br>New Community Church<br>Wexford</td>
      <td><strong>Sauturday PM</strong><br>11:30am-2:00pm<br>New Community Church<br>Wexford</td>
    </tr>
  </tbody>
</table>
</div>
