<h1 class="ui header">Contact Us</h1>
<div class="ui two column stackable center aligned grid segment">
  <div class="column">
    <i class="phone icon centered massive"></i>
    <h2 class="ui header">412-487-5613</h2>
    <p class="ui raised segment">Our regular phone hours are Monday – Friday from 9am – noon.</p>
  </div>
  <div class="ui vertical divider"></div>
  <div class="column">
    <i class="envelope open icon centered massive"></i>
    <h2 class="ui header"><a href="mailto:janetdomencic@actonetheatreschool.com">Send us an e-mail</a></h2>
    <p class="ui raised segment">E-mail is the most effective method for reaching us.</p>
  </div>
</div>
