<div class="ui segment">
  <h1 class="ui center aligned header">KAREN CORDARO</h1>
  <h2 class="ui center aligned header">FOUNDER</h2>
  <%= image_tag("faculty/karen.jpg", class: "ui small left floated image") %>
  <p>BA Seton Hill College: Psychology, Teacher Certification in Secondary English</p>
  <p>Post Graduate studies:  University of Pittsburgh</p>
  <p>Early in her teaching career, Karen Cordaro developed a popular theatre program at Prospect Jr. High School for the Pittsburgh Public Schools.  In 1981, after a ten year hiatus to raise her young children,  she opened another small theatre class as an after- school program at Providence Heights Alpha School, where she taught.  The program, consisting of 44 children, a record player and “Mrs. C”, soon grew to be so popular that the next step became obvious.</p>
  <p>In 1986, she opened ACT ONE Theatre School.  With a reputation for excellence and sensitivity to the needs of children, ACT ONE grew and expanded, and became increasingly professional, soon setting the standard for comprehensive theatre education.  Now, 26 years later, ACT ONE has well over 300 students enrolled, a cadre of outstanding teachers, and thousands of talented, loyal alumni all over the world.</p>
  <p>Ms Cordaro, a director, actor and lyricist, wrote the script and co-wrote lyrics for SESJUN (internationally broadcast jazz program with Holland’s Metropolitan Orchestra), directed the ROUTE 66 performance with cast of THE BOLD AND THE BEAUTIFUL in Rotterdam, wrote lyrics for a WELLA BALSAM European commercial, and for Ernie Sabella’s opening song at the ENSEMBLE STUDIO THEATRE’s award gala in NYC. She has written for PARAMOUNT INTERNATIONAL and has directed area children for over twenty-five years.</p>
</div>
