<div class="ui segment fill center aligned">
  <h1>About Us</h1>
  <div class="ui cards centered">
    <div class="ui card raised">
      <div class="content">
        <div class="center aligned header">History</div>
        <div class="center aligned description">
          <p>Since 1986, ACT ONE Theatre School has offered Pittsburgh area students the finest foundations in theatre education.</p>
          <p>We provide a comprehensive, student-oriented program which develops skills, fosters creativity and provides success experiences for all involved.</p>
        </div>
      </div>
    </div>
    <div class="ui card raised">
      <div class="content">
        <div class="center aligned header">Purpose</div>
        <div class="center aligned description">
          <p>The school year program consists of a semester of process-oriented classes focusing on skill development, and a semester of production-oriented classes focusing on the presentation of a fully-produced musical.</p>
          <p>Every child is used extensively in the productions! Every child is equally encouraged and cherished!</p>
        </div>
      </div>
    </div>
    <div class="ui card raised">
      <div class="content">
        <div class="center aligned header">Impact</div>
        <div class="center aligned description">
          <p>ACT ONE Theatre School students are encouraged to develop their skills and to take performance risks in an atmosphere of acceptance and fun.</p>
          <p>Motivated by excellent literature, sensitive instructors, and high quality performance expectations, these students blossom in professionalism, critical ability and self-confidence.</p>
        </div>
      </div>
    </div>
  </div>
</div>
